.keyboard button {
  font-size: 1.8rem;
  color: inherit;
  background-color: var(--black);
  border: none;
}

.keyboard button svg {
  vertical-align: top;
}

.keyboard button:focus {
  color: var(--black);
  background-color: var(--text-color);
}

.letters {
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
  height: 25vw;
  justify-content: space-between;
  align-content: space-between;
}

.letters button {
  width: 16%;
  height: 16%;
}
.special {
  display: flex;
  justify-content: flex-start;
}

.special button {
  height: 4vw;
  margin: 2px 2px 2px 0;
  min-width: 4vw;
  padding: 1px 16px;
}
